// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------





/// Light green
/// @type Color
$light-green: rgb(26, 188, 156) !default;

/// Dark green
/// @type Color
$dark-green: rgb(22, 160, 133) !default;

/// Light blue
/// @type Color
$light-blue: rgb(44, 62, 80) !default;

/// Dark blue
/// @type Color
$dark-blue: rgb(26, 37, 47) !default;

/// Light gray
/// @type Color
$light-gray: rgb(233, 236, 239) !default;